body {
    
    width: 85%;
    margin: 0 auto;
    padding: 0 auto;
}

.jumbotron {
    text-align: center;
}

td {
    text-align: center;
}

th {
    text-align: center;
    font-weight: bold;
}

.panel-title {
    font-weight: bold;
}

label {
    font-weight: bold;
}